#myname{
	font-size: 80px;
	font-family: "arial";
	text-align: center;
}

ul.nav{
	list-style: none;
	padding: 0;
}

ul.nav li{
	display: inline;
	text-transform: uppercase;
	word-spacing: 150px;
	font-family: "ubuntu";
	color: black;
}


.navbar{
	text-align: center;
	border-style: solid none;
	border-width: 2px;
	padding: 0px;
}

a:link{
	color: black;
}
a:hover{
	color: hotpink;