#nose{
	font-size:60px;
	width:span;
	height:100px;
	text-transform:uppercase;
	background-color:silver;
}
.activities{
	font-size:20px;
	text-align:left;
	font-family:"arial";
}

.place{
	color:silver;
	font-size:40px;
	text-transform:uppercase;
	font-family:"times new roman";
	background-color:#7FFFD4;
}

.prep{
	color:blue;
	background-color:red;
}

body{
	font-family:"arial";
}